
body {
background-color: orange;
color: black;
text-align: center;
background-image: url("water3.jpg"); no-repeat center center fixed; 
background-size: 1370px;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;b

}